extends layout

block content
    html
        head
        body
            #fish.fish
            |
            #fish2.fish
            |
            #fish3.fish
            |
            .question-box
                #octo.octo
                |
                h1.mt-5 Notifications list
                    if (notifications.length)
                        ul
                        each notification in notifications
                            div.col-md-12
                                div.card
                                    div.card-header
                                        .label
                                            li='User Id: ' + notification.userId + ', Post Id: ' + notification.postId + ', Created at: ' + notification.createdAt
                    else
                        h4.mt-5 No notifications found


            |
            style.
                body, html {
                    height: 100%;
                    padding: 0;
                    margin: 0;
                    font-family: 'Sniglet', cursive;
                    background-color: #98d4f3;
                }


                h2 {
                    color: #fff;
                }


                .question-box, .form-box, .thanks-msg-box {
                    width: 30%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }

                input, textarea {
                    border-radius: 5px;
                    padding: 10px;
                    margin-bottom: 10px;
                    font-family: 'Sniglet', cursive;
                    font-size: 16px;
                    color: #808080;
                    background-color: #fff;
                    border: none;
                    outline: none;
                }

                textarea {
                    height: 200px;
                    resize: none;
                    overflow: auto;
                }

                .label {
                    color: #000;
                    font-size: 24px;
                    font-family: serif;
                }
                @keyframes myoctoanimation {
                    from {
                        transform: translate3d(0, 0, 0);
                    }
                    to {
                        transform: translate3d(0, 200px, 0);
                    }
                }


                .octo {
                    background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
                    width: 66px;
                    height: 97px;
                    position: absolute;
                    right: -20%;
                    transform-origin: 50% 50%;
                    animation: myoctoanimation 2s linear alternate infinite;
                }
                .card{
                    margin-top: 15px;
                }
                li{
                    list-style: none;
                    font-family: cursive;}

