extends layout

block content
    html
        head
        body
            .question-box
                #octo.octo
                |
                if (posts_list.length)
                    each post in posts_list
                        div.col-md-12
                            div.card
                                div.card-header
                                    span='User name: ' + post.user.name
                                    span.float-right
                                        a(href="javascript:;", onclick="getLikers('" + post._id + "')") Likes(#{post.likes_count})
                                div.card-body='Body: ' + post.body
                                div.card-footer
                                    div.float-right
                                        if (post.is_liked)
                                            a.btn.btn-warning(href="javascript:;", onclick="unlike_post('" + post._id + "')") Un Like
                                        else
                                            a.btn.btn-primary(href="javascript:;", onclick="like_post('" + post._id + "')") Like
                                        if (post.is_owner)
                                            a.btn.btn-success(href="javascript:;", onclick="update_post('" + post._id + "')") Update
                                            a.btn.btn-danger(href="javascript:;", onclick="delete_post('" + post._id + "')") delete
                    else
                        h4.mt-5 No posts found
                a.btn.btn-warning(href='render_create_form') New Post



